@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");


.navbar-brand {
          padding: 20px 20px;
          height: 70px;
}

.navbar .navbar-collapse > ul> li > a {
          font-size:25px;
          font-family: 'Old Standard TT';font-size: 22px;
      }
.navbar  > a {
          font-size:40px;
          font-family:garamond,serif;
          font-weight: bolder;
          font-style: oblique;
          padding-bottom: 100px;

}


body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
}
.text {
    text-decoration: none;
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:90%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#b6b2b2; 
    height:100%;
}

p.date { 
    color:rgb(168, 161, 161);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

.card .text-dark{
    border: -0;
}