{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
    {{ post.body|markdown }}

    <!-- adding a url that dirrect the use to the share post page -->
    <p>
        <button type="button" class="btn btn-primary btn-lg">
            <a style="text-decoration: none; color: rgb(252, 247, 247);" href="{% url 'blog:post_share' post.id %}">
                Share Post 
            </a>
        </button>
    </p>

    <!-- Display the mumber of comments -->
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}


    <!-- Display the list of comments -->
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment{{ forloop.counter }} by {{ comment.name}}
                {{ comment.created}}

            </p>
            {{ comment.body | linebreaks}}
        </div>
        {% empty%}
            <p>Be the fast one to comment </p>
    {% endfor %}


    <!-- Display a form for users to add a new comment-->
    {% if new_comment %}
        <h2> Your comment have been added </h2>
    {% else %}
        <h2> Add a new  comment </h2>

        <!-- Creating a form for adding a new comment-->
        <form method = "post">
            {{ comment_form.as_p}}
            {% csrf_token %}
            <p><input type = "submit" value = "Add Comment"></p>

        </form>
    {% endif %}

{% endblock  %}